@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using Types;
@using HomepageController;

@using PostController;

<section class="frontpage__placeholder">
    <span class="logo">
        <img src="https://dokodoc.com/assets/img/dokodoc_logo.png" alt="Logo" />
    </span>
    <span class="controls">
        <i class="fa fa-angle-double-down"></i>
    </span>
</section>

<main>
    <section class="flexgrid">
        @{

            HomepageController Controller = new HomepageController();
            Controller.Fetch();

            if (Controller.HasItems()) {
                List<object> Nodes = Controller.GetItems();

                foreach (object Node in Nodes) {

                    HomepageSnippet Snippet = (HomepageSnippet)Node;

                    <article class="col-xs-12 frontpage__snippet">
                        <header>
                            <h3>@Snippet.Headline</h3>
                        </header>
                        <main>
                            @Html.Raw(Snippet.Body)
                        </main>

                            @if (Snippet.HasLinks()) {  
                                <footer>

                                    @foreach(HomepageLink Link in Snippet.Links) {
                                        <a class='snippet__link' href='@Link.LinkUrl' title='@Link.Label'>
                                            <span class="link__image">
                                                <img src='@Link.ImageUrl' alt='@Link.Label' title='@Link.Label' />
                                            </span>
                                            <span class='link__lnk'>
                                                @Link.Label
                                            </span>
                                        </a>
                                    }
                                </footer>
                            } else {
                                <div>No links</div>
                            }
                    </article>
                }
            }
            else {
                <div>No items</div>
            }
        }
    </section>
</main>