@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using Types;
@using GamesController;

@using PostController;

<header>
    <h2>Zoo Games</h2>
</header>

<main>
    <section class="flexrow flexrow--gutters">
       
    @{ 
        QuizController Controller = new QuizController();
        Controller.Fetch();

        if (Controller.HasItems()) {
            List<object> Nodes = Controller.GetItems();

            foreach(object Node in Nodes) {
                Quiz Game = (Quiz)Node;
                
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="flexrow post post--games">
                        <div class="col-xs-6 game__image">
                            <span class="imageholder">
                                <img src="@Game.Image" title='@Game.Title' alt='@Game.Title'/>
                            </span>
                        </div>
                        <div class="col-xs-6 game__description">
                            <h3>@Game.Title</h3>
                            <p>@Game.Description</p>
                        </div>
                        <div class="col-xs-12 game__controls">
                            <a href="@Game.Url" onclick="" class="btn btn--default" title="Play game">Play game</a>
                        </div>
                    </article>
                </div>
            }
        }
    }

    </section>
</main>