@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using Types;
@using PostsController;

<header>
    <h2>Newsfeed</h2>
</header>


<main>
    <section class="flexrow flexrow--gutters">

        @{

            PostsController Controller = new PostsController();
            Controller.Fetch();

            if (Controller.HasItems()) {
                List<object> Nodes = Controller.GetItems();

                foreach (object Node in Nodes) {
                    Post Post = (Post)Node;

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <a href="@Post.Url" title="@Post.Title">
                            <article class="post--news post">
                                <div class="post__author">
                                    <img src="@Post.Author.userImage" alt="Published by @Post.Author.userName" class="author__image" />
                                    <span class="author__name">@Post.Author.userName</span>
                                </div>

                                <div class="post__content">
                                    <span class="content__excerpt">
                                        <h3>@Post.Title</h3>
                                        @Post.Excerpt
                                    </span>
                                    <span class="content__time">
                                        @if (Post.Date == DateTime.Now.ToString("dd/MM/yyyy")) {
                                            @("Today at " + @Post.Time)
                                        }
                                        else {
                                            @Post.Date
                                        }
                                    </span>
                                </div>
                            </article>
                        </a>
                    </div>
                }
            }
            else {
                @Html.Partial("Misc/NoContent");
            }

        }

    </section>
</main>